<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lessrules</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div></div>
    <marquee>¡Black week! Descuentos del 50%</marquee>
    <div class="fondo">
      <div class="navbar">
        <img class="logo" src="/images/lessrules.jpeg" alt="logo" />
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Categorias</a></li>
          <li><a href="/productos">Productos</a></li>
        </ul>
      </div>
    </div>
    <div class="text">
      <a class="boton-comprar" href="/productos">Ver Catálogo</a>
    </div>
    <div class="banner-container">
      <div class="banner">
        <div class="banner-imagen">
          <img src="/images/chompapromo.jpg" alt="" />
        </div>
        <div class="content">
          <span>upto</span>
          <h3>50% off</h3>
          <p>ofter 5 dias</p>
          <a href="#" class="btn">ver oferta</a>
        </div>

        <div class="banner-imagen">
          <img src="/images/chompa2.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="text">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id nemo sunt
        tempora iste vero quis dolor, possimus provident ducimus vitae placeat
        quidem dignissimos vel, debitis tempore accusantium minima perferendis
        delectus?
      </p>
    </div>
  </body>
</html>
