<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuestra pagina</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/1b42c56bc0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="menu">
        <img src="/images/lessrules.jpeg" alt="" />
        <nav>
          <ul class="letra">
            <li>
                <i class="fa-solid fa-house"></i>
                <a href="#">Inicio</a>
            </li>
            <li>
              <i class="fa-solid fa-person-circle-question"></i>
              <a href="#">Estilos</a>
            </li>
            <li>
              <i class="fa-brands fa-odnoklassniki"></i>
              <a href="#">Categorias</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="descuento">
      <div>
        <h1>Black Week! Nuestro catálogo con el 40% Dcto</h1>
      </div>
    </div>
  </body>
</html>
