<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/header'); %>
    <div class="text">
      <a class="boton-comprar" href="/productos">Ver Catálogo</a>
    </div>
    <div class="banner-container">
      <div class="banner">
        <div class="banner-imagen">
          <img src="/images/chompapromo.jpg" alt="" />
        </div>
        <div class="content">
          <span>upto</span>
          <h3>50% off</h3>
          <p>ofter 5 dias</p>
          <a href="#" class="btn">ver oferta</a>
        </div>

        <div class="banner-imagen">
          <img src="/images/chompa2.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="text">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id nemo sunt
        tempora iste vero quis dolor, possimus provident ducimus vitae placeat
        quidem dignissimos vel, debitis tempore accusantium minima perferendis
        delectus?
      </p>
    </div>

    <%- include('./partials/footer'); %>
  </body>
</html>
