 h1 {
    background-image: url(/images/color\ abstracto.jpg);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 10px;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

